.container {
  display: flex;
  flex-direction: row;
  height: 100vh;
}

.navpanel {
  width: 100px;
  background-color: #180600;
  display: flex;
  align-items: center;
}

.contentlist {
  width: 720px;
  background-color: #f9f9f9;
}

.contentbody {
  width: 100%;
  background-color: #ffffff;
}